body {
  background: #bdbdbd;
}
h1,
h2 {
  background: white;
  padding: 20px;
  font-size: 60px !important;
}
.imgf {
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.mediab {
  width: 500px;
  margin-top: 50px;
}
span {
  color: ;
}
.imgserv {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: 190px;
}
.bodyserv {
  margin-left: 40px;
  width: 500px;
  margin-top: 50px;
}
.servbod {
  display: flex;
  justify-content: space-evenly;
}
.media-body {
  height: 350px;
}
.tile {
  color: #bdbdbd;
}
